html {
  scroll-behavior: smooth;
}

#edu-timeline .clr-timeline-step-body .card-media-image{
  height: 30px;
  object-fit: contain;
}

#exp-row .card .card-media-image{
  object-fit: contain;
  width: 100%;
  max-width: 5rem;
}

.card .card-text{
  text-align: justify;
}

.settings-image{
  height: 100%;
}

.language-icon{
  height: 24px;
  width: 24px;
  border-radius: 100%;
  object-fit: cover;
}

.language-select-icon{
  height: 24px;
  width: 24px;
  object-fit: scale-down;
}
.dropdown.bottom-left{
  margin-right: 10px;
}

.dropdown-toggle{
  display: flex;
  align-items: center;
}
